
@{
    ViewBag.Title = "Index";
}

<style>
    #div {
        padding: 40px;
        color: #3f51b5;
    }
</style>

<div class="d-flex justify-content-md-center" id="div">
   <table class="table table-bordered">
       <thead>
           <tr>
               <th>Name</th>
               <th>Md Azad Hossen</th>
           </tr>
       </thead>
       <tbody>
           <tr>
               <td>Id</td>
               <td>1281647</td>
           </tr>
           <tr>
               <td>Batch Id</td>
               <td>CS/ACSL-A/59-01</td>
           </tr>
       </tbody>
   </table>
</div>
